Django==6.0.7
asgiref==3.11.1
gunicorn==22.0.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
dj-database-url==2.2.0
python-decouple==3.8
pillow==10.4.0
django-cors-headers==4.7.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
django-filter==25.2
django-allauth==65.18.0
social-auth-app-django==5.5.1
django-storages==1.14.6
boto3==1.43.36
python-slugify==8.0.4
sqlparse==0.5.5
requests==2.34.2
